/* Homepage */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url(/Images/background.jpg);
}

.navbar-brand{
    margin: 0 0 0 0.5vw;
    font-size: 1.7rem;
    font-weight: 500;
}

.homepage-register-container{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.homepage-register-container .form-control, .homepage-login-container .form-control,
.homepage-register-container button, .homepage-login-container button{
    font-size: 0.87rem;
    height: 5.5vh;
}

.homepage-register-container .form-check-label, .homepage-login-container .form-check-label{
    font-size: 0.87rem;
}

.register-link{
    font-size: 0.87rem;
}

.register-link a{
    text-decoration: none;
    color: #082465;
    font-weight: bold;
    transition: ease-in-out 0.35s;
}

.register-link a:hover{
    color: #cc0000;
}

.login-btn{
    background-color: #082465;
    color: white;
    transition: transform 0.35s;
}

.login-btn:hover{
    background-color: #082465;
    color: white;
    transform: scale(1.05);
}

.background-color{
    background-color: #e6e9ef;
}

.explore{
    margin: 22vh 0 0 7vw;
}

.search{
    font-weight: normal;
    text-align: justify;
}

.icon-one{
    margin: -10vh 0 0 7vw;
}

.background-color{
    background-color: #e6e9ef;
}

.college-container, .course-container, .admission-container, .about-container{
    margin: 7vh 0 0 7vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.college-container{
    padding-bottom: 0;
}

.course-container{
    margin-top: 0;
}

.college-title, .course-title, .admission-title, .about-title{
    font-size: 1.7rem;
    font-weight: 500;
    color: #082465;
}

.card-link{
    text-decoration: none;
}

.college-logo{
    margin: 3.5vh 0 1vh 0;
    width: 35%;
    align-self: center;
}

.address{
    font-size: 0.87rem;
    margin-bottom: 0;
}

.top{
    position: fixed;
    bottom: 1.77vh;
    right: 1.7vw;
    z-index: 999;
}

/* Extra Small Devices (portrait phones) */
@media only screen and (max-width: 576px) {
    .explore{
        margin: 5vh 0 2.5vh 0.7vw;

    }

    .icon-one{
        margin: 1vh 0 0 5vw;
        width: 77%;
    }

    .college-container, .course-container{
        margin: 0 0 0 0;
    }

    .footer{
        margin: 0 0 0 0;
        width: auto;
    }

    .top{
        position: fixed;
        bottom: 1.77vh;
        right: 5vw;
        z-index: 999;
    }
}

/* Small Devices (landscape phones) */
@media only screen and (min-width: 577px) and (max-width: 767px) {
    /* Adjust styles for landscape phones here */
}

/* Medium Devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Adjust styles for tablets here */
}

/* Large Devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Adjust styles for larger desktop screens here */
}

/* Extra Large Devices (large desktops) */
@media only screen and (min-width: 1200px) {
    /* Adjust styles for extra large desktop screens here */
}
