@import url(user.css);

.institution-admission-table{
    margin: 0 0 0 1.25vw;
    width: 97%
}

.update-container, .add-container{
    margin: 7vh 0 0 7vw;
    padding-top: 5vh;
    padding-bottom: 1.5vh;
}

.update-title, .add-title{
    font-size: 1.7rem;
    font-weight: 500;
    color: #082465;
}

.update-container .form-control, .add-container .form-control{
    font-size: 0.87rem;
}

.update-container input, .update-container select, .update-container button,
.add-container input, .add-container select, .add-container button{
    height: 5.5vh;
}

.update-course, .add-course{
    cursor: pointer;
}

.top{
    position: fixed;
    bottom: 1.77vh;
    right: 1.7vw;
    z-index: 999;
}