@import url(homepage.css);

.nav-link{
    font-size: 0.87rem;
}

.logout-nav{
    margin: 0 -1vw 0 0;
}

.search-bar{
    width: 17vw;
    height: 5vh;
    font-size: 0.87rem;
}

.search::placeholder{
    font-size: 0.87rem;
}

.fa-user{
    margin: 0 0 0 0.7vw;
}

.link-container{
    margin: 2.5vh 0 0 7.27vw;
}

.background-color{
    background-color: #e6e9ef;
}

.college-container, .course-container, .admission-container, .about-container, .search-container, .university-container, .discipline-container{
    margin: 7vh 0 0 7vw;
    padding-bottom: 1.5vh;
}

.manage-container .form-control{
    font-size: 0.87rem;
    height: 5.5vh;
}

.manage-container .form-check-label{
    font-size: 0.87rem;
}

.college-details-table, .course-details-table{
    margin-bottom: 0;
}

.table-title{
    font-size: 1.1rem;
    font-weight: 500;
}

.college-title, .course-title, .admission-title, .about-title, .search-title, .manage-title{
    font-size: 1.7rem;
    font-weight: 500;
    color: #082465;
}

.offering-college{
    margin-top: 0;
}

.card-link{
    text-decoration: none;
}

.college-logo{
    margin: 3.5vh 0 1vh 0;
    width: 35%;
    align-self: center;
}

.address{
    font-size: 0.87rem;
    margin-bottom: 0;
}

.university-logo, .intl-university-logo{
    margin: 3.5vh 0 1vh 0;
    width: 35%;
    align-self: center;
}

.intl-university-logo{
    width: 53.5%;
}

.image-board{
    margin: 0 0 0 -14.5vw;
    width: 32.5vw;
}

/* .admission-table{
    width: 67%;
} */

.hamrobot{
    background-color: #082465;
    color: white;
    padding: 1vh 0.7vw;
    border-radius: 10px 10px 0 0;
}

.bot-btn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0vw 0vh 95vw; 
    top: 87.7vh; 
    width: 40px;
    height: 40px;
    border-radius: 47%;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px rgba(163, 158, 163, 1);
    background-color: white;
}

.bot{
    position: fixed;
    margin: 5vh 0vw 0vh 72.35vw;
    top: 33.7vh;
    width: 22%;
    height: 59.5vh;
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0px 0px 7px 0px rgba(163, 158, 163, 1);
    background-color: white;
}

.form{
    height: 80%;    
    border-radius: 10px;
    padding: 1vh 0.7vw;
    overflow-y: auto;
}

.form::-webkit-scrollbar {
    width: 7px;
}

.form::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.form::-webkit-scrollbar-thumb {
    background: #ddd;
}

.form::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

.msg-header{
    margin: 0.7vh 0;
    width: 87%;
    padding: 1.1vh 0.7vw;
    font-size: 0.825rem;
    background-color: #e6e9ef;
    border-radius: 10px;
    justify-content: space-evenly;
}

.bot-input{
    position: relative;
    width: 93.5%;
    padding: 1.25vh 2vw 1.25vh 0.7vw;
    margin: 0 0 0 0.7vw;
    border: none;
    border-radius: 12px;
    background-color: #e6e9ef;
    outline-color: #082465;
    font-size: 0.825rem;
    margin-right: 0.35vw;
}

.bot-send{
    position: relative;
    margin: -4.25vh 0vw 0vh 19.27vw; 
    width: max-content;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
}

.user-text{
    position: relative;
    margin: 1.25vh 0vw;
    right: -2.80vw;
    width: 87%; 
    padding: 1.1vh 0.7vw;
    font-size: 0.825rem;
    background-color: #e6e9ef;
    border-radius: 10px;
    text-align: right;
    justify-content: space-evenly;
}

.footer{
    font-size: 0.87rem;
}

@media screen and (max-width: 992px){
    .search-bar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .link-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 86%;
    }

    .bot-btn{
        bottom: 10px;
        right: 10px;
    }

    .bot{
        bottom: 60px;
        right: 10px;
    }
}