{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/institution_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/institution_header.html" %}

				<!-- Main Content -->
				<main class="max-w-full pt-[6px]">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="mx-auto py-16">
                            <div class="mb-14 text-center">
                                <h2 class="text-4xl text-center font-bold text-gray-900 dark:text-gray-500 leading-[3.25rem] mb-6 max-w-max lg:max-w-3xl lg:mx-auto">Welcome, <span class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">{{ institution.admin }}.</span></h2>
                                <p class="text-base font-normal text-gray-500 lg:max-w-2xl lg:mx-auto mb-8">Manage your institution's profile effortlessly and provide students with the insights they need for their academic journey.</p>  
                            </div>
                            
                            <div class="grid grid-cols-4 gap-5 max-w-lg mx-auto md:max-w-2xl lg:max-w-full">
                                <div class="relative w-full h-auto md:col-span-2">
                                    <div class="bg-gray-800 rounded-2xl flex  justify-between flex-row flex-wrap">
                                        <div class="p-5 xl:p-8 w-full md:w-1/2">
                                            <div class="block">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                                                </svg>                               
                                            </div>

                                            <h3 class="text-lg font-bold xl:text-xl text-white py-5 w-full xl:w-64">Manage Institution Profile.</h3>
                                            <p class="text-sm text-justify font-normal text-gray-300 w-full mb-8 xl:w-64">Update and customize your institution's profile to showcase key details, rankings, and unique offerings.</p>
                                            
											<button class="py-2 px-5 border border-solid border-gray-300 rounded-3xl text-xs text-white font-semibold transition-all duration-500 hover:bg-white/5">
                                                <a href="{% url 'institution-profile' %}" class="flex items-center justify-between gap-2">
                                                    View More
                                                    <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 9L3.58579 6.41421C4.25245 5.74755 4.58579 5.41421 4.58579 5C4.58579 4.58579 4.25245 4.25245 3.58579 3.58579L1 1" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg> 
                                                </a>    
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="relative w-full h-auto">
                                    <div class="bg-indigo-500 rounded-2xl p-5 xl:p-8 h-full">
                                        <h3 class="pb-5 text-white text-lg font-bold xl:text-xl">Manage Courses.</h3>
                                        <p class="text-6xl font-semibold text-white mb-8">{{ offered_courses_count }}</p>
                                        
                                        <button class="py-2 px-5 border border-solid border-gray-300 rounded-3xl text-xs text-white font-semibold transition-all duration-500 hover:bg-white/5">
                                            <a href="{% url 'programs' %}" class="flex items-center justify-between gap-2">
                                                View More
                                                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 9L3.58579 6.41421C4.25245 5.74755 4.58579 5.41421 4.58579 5C4.58579 4.58579 4.25245 4.25245 3.58579 3.58579L1 1" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg> 
                                            </a>    
                                        </button>
                                    </div>
                                </div>

                                <div class="relative w-full h-auto">
                                    <div class="bg-violet-500 rounded-2xl p-5 xl:p-8 h-full">
                                        <h3 class="pb-5 text-white text-lg font-bold xl:text-xl">Manage Admissions.</h3>
                                        <p class="text-6xl font-semibold text-white mb-8">{{ admissions_count }}</p>
                                        
                                        <button class="py-2 px-5 border border-solid border-gray-300 rounded-3xl text-xs text-white font-semibold transition-all duration-500 hover:bg-white/5">
                                            <a href="{% url 'admission' %}" class="flex items-center justify-between gap-2">
                                                View More
                                                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1 9L3.58579 6.41421C4.25245 5.74755 4.58579 5.41421 4.58579 5C4.58579 4.58579 4.25245 4.25245 3.58579 3.58579L1 1" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg> 
                                            </a>    
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>                                             
					</div>
				</main>
				
				<!-- <main class="h-full overflow-y-auto max-w-full pt-[6px]">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-6 gap-x-0 lg:gap-y-0 gap-y-6">
							<div class="flex flex-col gap-6">
								<div class="card dark:bg-[#161618] dark:shadow-none dark:border border-gray-800">
									<div class="card-body">
										<div class="flex gap-6 items-center justify-between">
											<div class="flex flex-col gap-5">
												<h4 class="text-gray-600 dark:text-gray-400 text-lg font-semibold">Offered Courses</h4>
												<div class="flex flex-col gap-[18px]">
													<h3 class="text-4xl font-semibold text-gray-600 dark:text-gray-400">{{ offered_courses_count }}</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="card dark:bg-[#161618] dark:shadow-none dark:border border-gray-800">
									<div class="card-body">
										<div class="flex gap-6 items-center justify-between">
											<div class="flex flex-col gap-5">
												<h4 class="text-gray-600 dark:text-gray-400 text-lg font-semibold">Admissions</h4>
												<div class="flex flex-col gap-[18px]">
													<h3 class="text-4xl font-semibold text-gray-600 dark:text-gray-400">{{ admissions_count }}</h3>
													<div class="flex items-center gap-1">
														<span class="flex items-center justify-center w-5 h-5 rounded-full {% if change_type == 'increase' %}bg-green-600{% elif change_type == 'decrease' %}bg-red-700{% else %}bg-gray-400{% endif %}">
															<i class="ti {% if change_type == 'increase' %}ti-arrow-up-right{% elif change_type == 'decrease' %}ti-arrow-down-right{% else %}ti-arrow-right{% endif %} text-white"></i>
														</span>
														
														<p class="text-gray-600 dark:text-gray-400 text-sm font-normal">
															{{ percentage_change }}% {% if change_type == 'increase' %}Increase{% elif change_type == 'decrease' %}Decrease{% else %}No change{% endif %}
														</p>
														<p class="text-gray-500 ms-10 text-sm font-normal">Last year: {{ institution.last_admissions }}</p>
													</div>
												</div>											 
											</div>
								
											<div class="flex justify-center items-center rounded-full bg-transparent self-start">
												<form action="{% url 'reset-admissions' institution.id %}" method="POST" class="m-0 p-0">
													{% csrf_token %}
													<button type="submit" class="bg-transparent border-0 p-1">
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
															<path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
														</svg>
													</button>
												</form>																							  
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main> -->
			</div>
		</div>
	</main>
	
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
</body>
</html>