{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/institution_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/institution_header.html" %}

				<!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-6 gap-x-0 lg:gap-y-0 gap-y-6">
							<div class="col-span-2">
								<div class="card dark:bg-[#161618] dark:shadow-none dark:border border-gray-800">
									<div class="card-body">
										<div class="sm:flex block justify-between mb-5">
											<h4 class="text-gray-600 dark:text-gray-400 text-lg font-semibold sm:mb-0 mb-2">Sales Overview</h4>
											<select name="cars" id="cars" class=" border-gray-400 text-gray-500 rounded-md text-sm border-[1px] focus:ring-0 sm:w-auto w-full">
												<option value="volvo">March2023</option>
												<option value="saab">April2023</option>
												<option value="mercedes">May2023</option>
												<option value="audi">June2023</option>
											</select>
										</div>
										<div id="chart"></div>
									</div>
								</div>
							</div>
						 
							<div class="flex flex-col gap-6">
								<div class="card dark:bg-[#161618] dark:shadow-none dark:border border-gray-800">
									<div class="card-body">
										<div class="flex gap-6 items-center justify-between">
											<div class="flex flex-col gap-5">
												<h4 class="text-gray-600 dark:text-gray-400 text-lg font-semibold">Offered Courses</h4>
												<div class="flex flex-col gap-[18px]">
													<h3 class="text-4xl font-semibold text-gray-600 dark:text-gray-400">{{ offered_courses_count }}</h3>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="card dark:bg-[#161618] dark:shadow-none dark:border border-gray-800">
									<div class="card-body">
										<div class="flex gap-6 items-center justify-between">
											<div class="flex flex-col gap-5">
												<h4 class="text-gray-600 dark:text-gray-400 text-lg font-semibold">Admissions</h4>
												<div class="flex flex-col gap-[18px]">
													<h3 class="text-4xl font-semibold text-gray-600 dark:text-gray-400">{{ admissions_count }}</h3>
													<div class="flex items-center gap-1">
														<span class="flex items-center justify-center w-5 h-5 rounded-full {% if change_type == 'increase' %}bg-green-600{% elif change_type == 'decrease' %}bg-red-700{% else %}bg-gray-400{% endif %}">
															<i class="ti {% if change_type == 'increase' %}ti-arrow-up-right{% elif change_type == 'decrease' %}ti-arrow-down-right{% else %}ti-arrow-right{% endif %} text-white"></i>
														</span>
														
														<p class="text-gray-600 dark:text-gray-400 text-sm font-normal">
															{{ percentage_change }}% {% if change_type == 'increase' %}Increase{% elif change_type == 'decrease' %}Decrease{% else %}No change{% endif %}
														</p>
														<p class="text-gray-500 ms-10 text-sm font-normal">Last year: {{ institution.last_admissions }}</p>
													</div>
												</div>											 
											</div>
								
											<div class="flex justify-center items-center rounded-full bg-transparent self-start">
												<form action="{% url 'reset-admissions' institution.id %}" method="POST" class="m-0 p-0">
													{% csrf_token %}
													<button type="submit" class="bg-transparent border-0 p-1">
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
															<path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
														</svg>
													</button>
												</form>																							  
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</main>
	
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
	<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
</body>
</html>