{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/user_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/user_header.html" %}

                <!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]" id="admissions-table">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="flex gap-3">
                            <div class="flex-grow card min-h-[613px]">
                                <div class="card-body">
                                    <div class="flex justify-between items-center mb-6">
                                        <h4 class="text-gray-600 text-lg tracking-wider font-semibold uppercase">Applications</h4>
                                        <svg id="new-admission" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 cursor-pointer">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                                        </svg>
                                    </div>
                                    
                                    <div class="relative overflow-x-auto">
                                        <table class="text-left w-full whitespace-nowrap text-sm">
                                            <thead class="text-gray-700">
                                                <tr class="font-semibold text-gray-600">
                                                    <th scope="col" class="p-4">S.N.</th>
                                                    <th scope="col" class="p-4">Institution</th>
                                                    <th scope="col" class="p-4">Program</th>
                                                    <th scope="col" class="p-4">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for application in applications %}
                                                <tr>
                                                    <td class="p-4 font-medium text-gray-500">{{ forloop.counter }}</td>
                                                    <td class="p-4">
                                                        <span class="font-medium text-gray-500">{{ application.institution }}</span>
                                                    </td>
                                                    <td class="p-4">
                                                        <span class="font-medium text-gray-500">{{ application.program.course }}</span>
                                                    </td>
                                                    <td class="p-4">
                                                        <span class="font-medium text-gray-500">
                                                            {% if application.status == 'pending' %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                                </svg>
                                                            {% elif application.status == 'accepted' %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
                                                                </svg>
                                                            {% else %}
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                                </svg>
                                                            {% endif %}
                                                        </span>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>									
                                </div>
                            </div>
                        
                            <div class="card min-h-[613px]">
                                <div class="card-body">
                                    <div class="grid gap-5 mb-7">
                                        <a href="" class="max-w-56 mx-auto">
                                            <div class="w-full max-w-sm">
                                                <img src="{% static 'images/banners/islington-ad.png' %}" alt="cream image" class="w-full h-full rounded-md">
                                            </div>
                                        </a>
                                        <a href="" class="max-w-56 mx-auto">
                                            <div class="w-full max-w-sm">
                                                <img src="{% static 'images/banners/kathford-ad.jpg' %}" alt="cream image" class="w-full h-full rounded-md">
                                            </div>
                                        </a>
                                        <a href="" class="max-w-56 mx-auto">
                                            <div class="w-full max-w-sm">
                                                <img src="{% static 'images/banners/softwarica-ad.jpg' %}" alt="cream image" class="w-full h-full rounded-md">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="my-7">
                            <div>
                                <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 text-sm tracking-wider font-semibold">Featured</p>								
                                <h4 class="mb-6 text-gray-600 text-lg tracking-wider font-semibold uppercase">Institutions</h4>								
                            </div>
                            
                            <div class="grid grid-cols-5 gap-8">
                                {% for institution in institutions|slice:":5" %}
                                <a href="{% url 'institution-details' institution.id %}" class="max-w-[384px] mx-auto">
                                    <div class="w-full max-w-sm aspect-square">
                                        <img src="https://pagedone.io/asset/uploads/1701157806.png" alt="cream image" class="w-full h-full rounded-xl object-cover">
                                    </div>
                                    <div class="mt-5">
                                        <h6 class="font-medium text-sm text-black">{{ institution.name }}</h6>
                                        <h6 class="mt-3 font-semibold text-xs text-blue-700">
                                            {% if institution.affiliation == 'foreign' and institution.Foreign_University_Name %}
                                                {{ institution.Foreign_University_Name }}
                                            {% else %}
                                                {{ institution.get_affiliation_display }}
                                            {% endif %}
                                        </h6>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
					</div>
				</main>

                <!-- Admission Form -->
                <main class="h-full overflow-y-auto max-w-full pt-[6px] hidden" id="admissions-form">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="card relative dark:bg-[#121212]">
							<div class="card-body flex flex-col gap-6">
								<form action="{% url 'send-application' %}" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <svg id="back-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md absolute -top-2 right-6 bg-gray-700 text-white dark:bg-white dark:text-gray-700">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                        </svg>
                                          
                                        <div>
                                            <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Name <span class="text-red-600">*</span></label>
                                            <div class="relative mb-6">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                                    </svg>                                                                               
                                                </div>
                                                <input type="text" value="{{ user.name }}" name="name" id="name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" style="padding-left: 33px;" placeholder="John Doe" required>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email Address <span class="text-red-600">*</span></label>
                                            <div class="relative mb-6">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                                                        <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                                                    </svg>                                 
                                                </div>
                                                <input type="email" value="{{ user.email }}" name="email" id="email" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" style="padding-left: 33px;" placeholder="john@example.com" required>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-700">Phone <span class="text-red-600">*</span></label>
                                            <div class="relative mb-6">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                                                    </svg>                                                                               
                                                </div>
                                                <input type="number" name="phone" id="phone" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" style="padding-left: 33px;" placeholder="XXX XXX XXXX" required>
                                            </div>
                                        </div>
    
                                        <div>
                                            <label for="institution" class="block mb-2 text-sm font-medium text-gray-700">Institution <span class="text-red-600">*</span></label>
                                            <div class="relative mb-6">
                                                <select id="institution" name="institution" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700">
                                                    <option value="" selected>Choose an institution</option>
                                                    {% for institution in institutions %}
                                                        <option value="{{ institution.id }}">{{ institution.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="program" class="block mb-2 text-sm font-medium text-gray-700">Interested Program <span class="text-red-600">*</span></label>
                                            <div class="relative mb-6">
                                                <select id="program" name="program" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700">
                                                    <option value="" selected>Choose an academic program</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div>
                                            <label for="query" class="block mb-2 text-sm/6 font-medium text-gray-900">Query [If Any]</label>
                                            <div class="mb-6">
                                                <textarea name="query" id="query" rows="3" class="block w-full rounded-md px-3 py-1.5 text-base bg-transparent text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6"></textarea>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="mb-4">
                                        <button type="submit" class="tracking-wide py-2.5 px-4 bg-gradient-to-tr from-indigo-600 to-violet-600 hover:bg-gradient-to-tr hover:from-indigo-700 hover:to-violet-700 text-white w-full transition ease-in duration-200 text-center text-sm font-medium shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" type="submit">
                                            Send Application
                                        </button>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</main>

    <!-- Toggle admissions-table/admission-form form -->
    <script>
        document.getElementById('new-admission').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('admissions-table').classList.add('hidden');
            document.getElementById('admissions-form').classList.remove('hidden');
        });

        document.getElementById('back-button').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('admissions-table').classList.remove('hidden');
            document.getElementById('admissions-form').classList.add('hidden');
        });
    </script>

    <script>
        document.getElementById('institution').addEventListener('change', function() {
            const institutionId = this.value;
            const programSelect = document.getElementById('program');

            if (institutionId) {
                fetch(`/get-courses/${institutionId}/`)
                    .then(response => response.json())
                    .then(data => {
                        programSelect.innerHTML = '<option value="" selected>Choose an academic program</option>';
                        data.courses.forEach(course => {
                            programSelect.innerHTML += `<option value="${course.id}">${course.name}</option>`;
                        });
                    })
                    .catch(error => console.error('Error fetching courses:', error));
            } else {
                programSelect.innerHTML = '<option value="" selected>Choose an academic program</option>';
            }
        });
    </script>
	
	<script src="{% static 'js/index.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
</body>
</html>