{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/user_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/user_header.html" %}

                <!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]">
                    <div class="container full-container py-3 flex flex-col gap-6">
                        <div class="mx-auto max-w-7xl">
                            <h2 class="font-manrope font-semibold text-3xl min-[400px]:text-3xl mb-8 text-black max-lg:text-center flex-grow">Courses</h2>
                
                            <div class="grid grid-cols-3 gap-5">
                                <div class="card">
                                    <div class="card-body flex flex-col">
                                        <h6 class="text-lg text-gray-600 font-semibold mb-5">Bachelor of Computer Application [BCA]</h6>
                                        <div class="flex items-center gap-2 mb-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                            </svg>
                                            <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 font-semibold text-sm">Tribhuvan University</p>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <p class="font-medium text-sm">4 Years</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body flex flex-col">
                                        <h6 class="text-lg text-gray-600 font-semibold mb-5">Bachelor of Bussiness Management [BBM]</h6>
                                        <div class="flex items-center gap-2 mb-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                            </svg>
                                            <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 font-semibold text-sm">Tribhuvan University</p>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <p class="font-medium text-sm">4 Years</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body flex flex-col">
                                        <h6 class="text-lg text-gray-600 font-semibold mb-5">Bachelor of Arts [BBA]</h6>
                                        <div class="flex items-center gap-2 mb-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                            </svg>
                                            <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 font-semibold text-sm">Tribhuvan University</p>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <p class="font-medium text-sm">4 Years</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body flex flex-col">
                                        <h6 class="text-lg text-gray-600 font-semibold mb-5">BSc. Computer Science and Information Technology [BSc. CSIT]</h6>
                                        <div class="flex items-center gap-2 mb-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                            </svg>
                                            <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 font-semibold text-sm">Tribhuvan University</p>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <p class="font-medium text-sm">4 Years</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body flex flex-col">
                                        <h6 class="text-lg text-gray-600 font-semibold mb-5">Bachelor of Computer Engineering</h6>
                                        <div class="flex items-center gap-2 mb-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                            </svg>
                                            <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 font-semibold text-sm">Tribhuvan University</p>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <p class="font-medium text-sm">4 Years</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body flex flex-col">
                                        <h6 class="text-lg text-gray-600 font-semibold mb-5">Bachelor of Hotel Management [BHM]</h6>
                                        <div class="flex items-center gap-2 mb-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0 0 12 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75Z" />
                                            </svg>
                                            <p class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600 font-semibold text-sm">Tribhuvan University</p>
                                        </div>

                                        <div class="flex items-center gap-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <p class="font-medium text-sm">4 Years</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
			</div>
		</div>
	</main>
	
	<script src="{% static 'js/index.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
</body>
</html>