{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/user_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/user_header.html" %}

                <!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]">
                    <div class="container full-container py-3 flex flex-col gap-6">
                        <div class="mx-auto max-w-7xl">
                            <h2 class="font-manrope font-semibold text-3xl min-[400px]:text-3xl mb-8 text-black max-lg:text-center flex-grow">Institutions</h2>
                
                            <!-- Set grid for 5 columns -->
                            <div class="grid lg:grid-cols-5 sm:grid-cols-1 gap-5">
                                {% for institution in institutions|slice:":5" %}
                                    <a href="{% url 'institution-details' institution.id %}" class="max-w-[384px] mx-auto">
                                        <div class="w-full max-w-sm aspect-square">
                                            <img src="https://pagedone.io/asset/uploads/1701157806.png" alt="cream image" class="w-full h-full rounded-xl object-cover">
                                        </div>
                                        <div class="mt-5">
                                            <h6 class="font-medium text-sm text-black">{{ institution.name }}</h6>
                                            <h6 class="mt-3 font-semibold text-xs text-blue-700">
                                                {% if institution.affiliation == 'foreign' and institution.Foreign_University_Name %}
                                                    {{ institution.Foreign_University_Name }}
                                                {% else %}
                                                    {{ institution.get_affiliation_display }}
                                                {% endif %}
                                            </h6>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </main>
			</div>
		</div>
	</main>
	
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</body>
</html>