{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/user_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/user_header.html" %}

				<!-- Main Content -->
                <main class="h-full overflow-y-auto max-w-full pt-[6px]" id="admissions-table">
					<div class="container full-container py-5 flex flex-col gap-6">
                        <div class="flex gap-3">
                            <div class="card min-h-[613px]">
                                <div class="card-body">
                                    <section class="relative pt-36">
                                        <img src="{% static '/images/background/profile-bg.png' %}" alt="cover-image" class="w-full absolute top-0 left-0 z-0 h-48 object-cover rounded-md">
                                        <div class="w-full max-w-7xl mx-auto px-6 md:px-8">
                                            <div class="flex items-center justify-start relative z-10 mb-2.5">
                                                <img src="{% static '/images/profile/user.png' %}" alt="user-avatar-image" class="border-4 border-solid bg-white border-white rounded-md object-cover w-24 h-24">
                                            </div>
    
                                            <div class="mb-3">
                                                <h3 class="font-manrope font-bold text-2xl leading-10 text-gray-700">{{ user.name }}</h3>
    
                                                <div class="mt-7 text-gray-700">
                                                    <p class="text-sm font-medium mb-3">Email Address: <span class="text-gray-500">{{ user.email }}</span></p>
                                                    <p class="text-sm font-medium">Phone: <span class="text-gray-500">{{ user.phone }}</span></p>
                                                </div>
                                    
                                                <div class="mt-12">
                                                    <a href="{% url 'password-setting' %}" class="inline-flex items-center justify-center px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-3xl text-sm">
                                                        Change Password
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </section>									
                                </div>
                            </div>
                        
                            <div class="flex-1 card min-h-[613px]">
                                <div class="card-body">
                                    <form action="{% url 'update-profile' user.id %}" method="POST">
                                        {% csrf_token %}
                                        <div>
                                            <div>
                                                <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Name <span class="text-red-600">*</span></label>
                                                <div class="relative mb-6">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                        <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                                        </svg>                                                                               
                                                    </div>
                                                    <input type="text" value="{{ user.name }}" name="name" id="name" class="border border-gray-400 text-sm rounded-md block w-full ps-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="John Doe" required>
                                                </div>
                                            </div>
        
                                            <div class="relative mb-6">
                                                <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email Address <span class="text-red-600">*</span></label>
                                                <div class="relative">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                        <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                            <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                                                            <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                                                        </svg>
                                                    </div>
                                                    <input type="email" value="{{ user.email }}" name="email" id="email" class="border border-gray-400 text-sm rounded-md block w-full ps-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="john@example.com" required>
                                                </div>
                                                <div id="email-error" class="text-xs text-red-500 mt-1 hidden">This email already exists.</div>
                                            </div>

                                            <div class="relative mb-6">
                                                <label for="phone" class="block mb-2 text-sm font-medium text-gray-700">Phone <span class="text-red-600">*</span></label>
                                                <div class="relative">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                        <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
                                                        </svg>
                                                    </div>
                                                    <input type="number" value="{{ user.phone }}" name="phone" id="phone" class="border border-gray-400 text-sm rounded-md block w-full ps-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="john@example.com" required>
                                                </div>
                                                <div id="phone-error" class="text-xs text-red-500 mt-1 hidden">This phone number already exists.</div>
                                            </div>

                                            <div>
                                                <label for="province" class="block mb-2 text-sm font-medium text-gray-700">Province <span class="text-red-600">*</span></label>
                                                <select id="province" name="province" autocomplete="province-name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700">
                                                    <option value="" {% if not user.province %}selected{% endif %}>Choose a province</option>
                                                    {% for province_id, province_name in provinces %}
                                                        <option value="{{ province_id }}" {% if user.province == province_id %}selected{% endif %}>{{ province_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
        
                                        <div class="mt-7 mb-4">
                                            <button class="tracking-wide py-2.5 px-4 bg-gradient-to-tr from-indigo-600 to-violet-600 hover:bg-gradient-to-tr hover:from-indigo-700 hover:to-violet-700 text-white w-full transition ease-in duration-200 text-center text-sm font-medium shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" type="submit">
                                                Save Changes
                                            </button>
                                        </div>
                                    </form>								
                                </div>
                            </div>
                        </div>
					</div>
				</main>
			</div>
		</div>
	</main>

	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
    <script src="{% static 'js/dashboard.js' %} "></script>
</body>
</html>