{% load static %}

<header class="absolute inset-x-0 top-0 z-50 lg:mx-32">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
		<div class="flex lg:flex-1">
			<a href="{% url 'index' %}" class="-m-1.5">
				<span class="sr-only">Your Company</span>
				<img src="{% static 'images/logos/logo-light.png' %}" class="h-11 w-auto block dark:hidden" alt="Gurkha Cyber Force Light Logo" />
			</a>
			<a href="{% url 'index' %}" class="-m-1.5">
				<span class="sr-only">Your Company</span>
				<img src="{% static 'images/logos/logo-dark.png' %}" class="h-11 w-auto hidden dark:block" alt="Gurkha Cyber Force Dark Logo" />
			</a>
		</div>

		<div class="flex lg:hidden">
			<button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
				<span class="sr-only">Open main menu</span>
				<svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
			</button>
		</div>

		<div class="hidden lg:flex lg:gap-x-12">
			<a href="{% url 'index' %}" class="text-sm/6 font-semibold text-gray-900">Home</a>
			<a href="{% url 'about-us' %}" class="text-sm/6 font-semibold text-gray-900 cursor-pointer">About</a>
			<a onclick="scrollToSection('institutions')" class="text-sm/6 font-semibold text-gray-900 cursor-pointer">Institutions</a>
			<a onclick="scrollToSection('courses')" class="text-sm/6 font-semibold text-gray-900 cursor-pointer">Courses</a>
		</div>
		
		<div class="hidden lg:flex lg:flex-1 lg:justify-end">
			<a href="{% url 'authentication' %}" class="flex justify-center gap-1 items-center py-1 pl-1 pr-2.5 text-sm uppercase cursor-pointer bg-gray-50 backdrop-blur-md lg:font-semibold isolation-auto border-gray-50 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-[#111827] hover:text-white text-gray-800 before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 overflow-hidden border-2 rounded-full group transition-colors duration-700">
			   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
					<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
				</svg>	
			   	Login
			</a>
		</div>
    </nav>

    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
		<!-- Background backdrop, show/hide based on slide-over state. -->
		<div class="fixed inset-0 z-50"></div>
		<div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
			<div class="flex items-center justify-between">
				<a href="#" class="-m-1.5 p-1.5">
					<span class="sr-only">Your Company</span>
					<img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
				</a>
				<button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
					<span class="sr-only">Close menu</span>
					<svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
					</svg>
				</button>
			</div>

			<div class="mt-6 flow-root">
				<div class="-my-6 divide-y divide-gray-500/10">
					<div class="space-y-2 py-6">
						<a href="{% url 'index' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Home</a>
						<a href="{% url 'about-us' %}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold cursor-pointer text-gray-900 hover:bg-gray-50">Institutions</a>
						<a onclick="scrollToSection('institutions')" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold cursor-pointer text-gray-900 hover:bg-gray-50">Institutions</a>
						<a onclick="scrollToSection('courses')" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold cursor-pointer text-gray-900 hover:bg-gray-50">Courses</a>
					</div>
					<div class="py-6">
						<a href="{% url 'authentication' %}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</header>