{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamrocollege</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<div class="lg:mx-32">
		<!-- Header -->
		<header class="absolute inset-x-0 top-0 z-50 lg:mx-32">
			<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
				<div class="flex lg:flex-1">
					<a href="{% url 'index' %}" class="-m-1.5">
						<span class="sr-only">Your Company</span>
						<img src="{% static 'images/logos/logo-light.png' %}" class="h-11 w-auto block dark:hidden" alt="Gurkha Cyber Force Light Logo" />
					</a>
					<a href="{% url 'index' %}" class="-m-1.5">
						<span class="sr-only">Your Company</span>
						<img src="{% static 'images/logos/logo-dark.png' %}" class="h-11 w-auto hidden dark:block" alt="Gurkha Cyber Force Dark Logo" />
					</a>
				</div>
		
				<div class="flex lg:hidden">
					<button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
						<span class="sr-only">Open main menu</span>
						<svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
						</svg>
					</button>
				</div>
		
				<div class="hidden lg:flex lg:gap-x-12">
					<a onclick="scrollToSection('about')" class="text-sm/6 font-semibold text-gray-900 hover:tracking-widest transition-all duration-500 hover:text-indigo-600 cursor-pointer">About</a>
					<a onclick="scrollToSection('institutions')" class="text-sm/6 font-semibold text-gray-900 hover:tracking-widest transition-all duration-500 hover:text-indigo-600 cursor-pointer">Institutions</a>
					<a onclick="scrollToSection('courses')" class="text-sm/6 font-semibold text-gray-900 hover:tracking-widest transition-all duration-500 hover:text-indigo-600 cursor-pointer">Courses</a>
				</div>
				
				<div class="hidden lg:flex lg:flex-1 lg:justify-end">
					<a href="{% url 'authentication' %}" class="flex justify-center gap-1 items-center py-1 pl-1 pr-2.5 text-sm uppercase cursor-pointer bg-gray-50 backdrop-blur-md lg:font-semibold isolation-auto border-gray-50 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-[#111827] hover:text-white text-gray-800 before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 overflow-hidden border-2 rounded-full group transition-colors duration-700">
					   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
							<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
						</svg>	
						Login
					</a>
				</div>
			</nav>
		
			<!-- Mobile menu, show/hide based on menu open state. -->
			<div class="lg:hidden" role="dialog" aria-modal="true">
				<!-- Background backdrop, show/hide based on slide-over state. -->
				<div class="fixed inset-0 z-50"></div>
				<div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
					<div class="flex items-center justify-between">
						<a href="#" class="-m-1.5 p-1.5">
							<span class="sr-only">Hamrocollege</span>
							<img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
						</a>
						<button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
							<span class="sr-only">Close menu</span>
							<svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
								<path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
		
					<div class="mt-6 flow-root">
						<div class="-my-6 divide-y divide-gray-500/10">
							<div class="space-y-2 py-6">
								<a onclick="scrollToSection('about')" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold cursor-pointer text-gray-900 hover:bg-gray-50">About</a>
								<a onclick="scrollToSection('institutions')" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold cursor-pointer text-gray-900 hover:bg-gray-50">Institutions</a>
								<a onclick="scrollToSection('courses')" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold cursor-pointer text-gray-900 hover:bg-gray-50">Courses</a>
							</div>
							<div class="py-6">
								<a href="{% url 'authentication' %}" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

		<div class="relative">
			<video src="{% static 'images/background/index-bg.mp4' %}" autoplay loop></video>
			<div class="absolute inset-0 -z-10 bg-index bg-cover opacity-5" aria-hidden="true"></div>
			<!-- <div class="relative isolate px-6 mt-[81px] lg:px-8">
				<div class="mx-auto max-w-3xl py-32 sm:py-48 lg:py-64">
					<div class="text-center">
						<h1 class="text-balance text-5xl font-semibold tracking-tight text-gray-900 sm:text-4xl">Explore. Enroll.</h1>
						<p class="mt-5 text-pretty text-lg font-medium text-gray-500 sm:text-base/8">Searching for colleges to expand your study? Explore some of the best colleges around you.</p>
						<div class="mt-10">
							<a href="#" class="rounded-md bg-blue-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get started</a>
						</div>
					</div>
				</div>
			</div> -->

			<!-- About -->
			<section class="relative py-11" id="about">
				<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-4 relative">
					<div class="lg:px-4 flex items-center">
						<div class="data w-full">
							<h2 class="font-manrope font-bold text-xl lg:text-2xl text-black mb-4 max-lg:text-center relative">How we started?</h2>
							<p class="font-normal text-base leading-8 text-gray-600 text-justify mx-auto mb-10">
								Hamrocollege was established in 2024 A.D. by a group of students for helping all Nepali students in informed decision-making. The response and feedback received from invaluable readers and customers persuaded the team to keep going forward.
								Hamrocollege has now become a leading educational portal for Nepal. It has revolutionized the way students search and get enrolled in various programs offered by academic institutions in Nepal. This site will help you search colleges, academic programs, locations and their facilities. 
								You will be able to extract the required information about these academic institutions and their services in no time. With Hamrocollege webpage you can compare and choose the best education services and meet your requirements in a short period of time. 
								Suggesting this website to your colleagues can prove as a blessing for them to meet their demands. Today, most of the students browse Hamrocollege to find out courses and colleges fit for them. 
								Our efforts were recognized at the international level as well. We were awarded the 'World Summit Youth Award' for promoting education in Nepal in the category "Education for All". 
							</p>

							<h2 class="font-manrope font-bold text-xl lg:text-2xl text-black mb-4 text-right relative">Our Approach</h2>
							<p class="font-normal text-base leading-8 text-gray-600 text-justify mx-auto">
								Since its very inception Hamrocollege is helping millions of students by providing comprehensive, accurate, timely, and unbiased information regarding education like courses, results, scholarships, careers, colleges, news.
								Apart from that Hamrocollege also collaborates with colleges and organizations for the promotion of education through campaigns and events. 
							</p>
						</div>
					</div>
				</div>
			</section>
		
			<section class="pt-20 relative">
				<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
					<div class="flex flex-col gap-5 xl:gap-8 lg:flex-row lg:justify-between">
						<div class="w-full max-lg:max-w-2xl mx-auto lg:mx-0 lg:w-1/3 bg-white p-6 rounded-2xl shadow-md shadow-gray-100">
							<div class="flex gap-5">
								<div class="font-manrope text-2xl font-bold text-indigo-600">100+</div>
								<div class="flex-1 text-justify">
									<h4 class="text-xl text-gray-900 font-semibold mb-2">Institutions Involved</h4>
									<p class="text-xs text-gray-500 leading-5">We've partnered with renowned institutions to provide you the best educational options.</p>
								</div>
							</div>
						</div>
						<div class="w-full max-lg:max-w-2xl mx-auto lg:mx-0 lg:w-1/3 bg-white p-6 rounded-2xl shadow-md shadow-gray-100">
							<div class="flex gap-5">
								<div class="font-manrope text-2xl font-bold text-indigo-600">2500+</div>
								<div class="flex-1 text-justify">
									<h4 class="text-xl text-gray-900 font-semibold mb-2">Successful Admissions</h4>
									<p class="text-xs text-gray-500 leading-5">We've helped more than 1000 students get into their desired institutions.</p>
								</div>
							</div>
						</div>
						<div class="w-full max-lg:max-w-2xl mx-auto lg:mx-0 lg:w-1/3 bg-white p-6 rounded-2xl shadow-md shadow-gray-100">
							<div class="flex gap-5">
								<div class="font-manrope text-2xl font-bold text-indigo-600">625+</div>
								<div class="flex-1 text-justify">
									<h4 class="text-xl text-gray-900 font-semibold mb-2">Projects Completed</h4>
									<p class="text-xs text-gray-500 leading-5">We have accomplished more than 625 projects worldwide and we are still counting many more.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="relative flex justify-center mt-32">
						<div class="relative w-96 transition-all duration-500 focus-within:w-full">
							<input name="search" class="text-center text-sm shadow-lg border-gray-300 px-10 py-3.5 rounded-xl w-full transition-all outline-none focus:ring-1 focus:ring-gray-500 focus:border-gray-500" placeholder="Search for institutions and courses ..."/>
							<div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
								<svg class="size-5 text-gray-500" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" stroke-linejoin="round" stroke-linecap="round"></path>
								</svg>                                                                               
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Institutions -->
			<section class="py-11" id="institutions">
				<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
					<h2 class="mb-8 font-manrope font-semibold text-3xl min-[400px]:text-3xl text-black max-lg:text-center flex-grow">Institutions</h2>
					
					<div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
						{% for institution in institutions|slice:":7" %}
						<a href="{% url 'institution-details' institution.id %}" class="max-w-[384px] mx-auto">
							<div class="w-full max-w-sm aspect-square">
								<img src="https://pagedone.io/asset/uploads/1701157806.png" alt="cream image" class="w-full h-full rounded-xl object-cover">
							</div>
							<div class="mt-5">
								<h6 class="font-medium text-base text-black">{{ institution.name }}</h6>
								<h6 class="mt-3 font-semibold text-sm text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">
									{% if institution.affiliation == 'foreign' %}
										{{ institution.Foreign_University_Name }}
									{% else %}
										{{ institution.get_affiliation_display }}
									{% endif %}
								</h6>
							</div>
						</a>
						{% endfor %}

						<div class="flex justify-center items-center">
							<a href="" class="flex justify-center gap-1 items-center py-2 pl-4 pr-2 text-sm cursor-pointer bg-gray-50 backdrop-blur-md lg:font-medium isolation-auto border-gray-50 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-[#111827] hover:text-white text-gray-800 before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 overflow-hidden border-2 rounded-full group transition-colors duration-700">
								Explore More
								<svg class="w-7 h-7 justify-end group-hover:rotate-90 group-hover:bg-gray-50 text-gray-50 ease-linear duration-300 rounded-full border border-gray-700 group-hover:border-none p-2 rotate-45" viewBox="0 0 16 19" xmlns="http://www.w3.org/2000/svg">
									<path class="fill-gray-800 group-hover:fill-gray-800" d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"></path>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</section>

			<!-- Courses -->
			<section class="py-24" id="courses">
				<div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
					<div class="flex justify-center gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8 max-w-sm sm:max-w-2xl lg:max-w-full mx-auto">
						<div class="w-full lg:w-2/5">
							<span class="text-lg text-primary-text font-medium mb-4 block">Popular</span>
							<h2 class="text-pretty text-3xl font-semibold tracking-tight text-primary-text sm:text-4xl"><span class="text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">Courses</span> in Nepal</h2>
						</div>
						<div class="justify-center content-center border-s-2 border-gray-400 w-full h-full p-2 lg:w-3/5">
							<swiper-container class="mySwiper relative h-56 w-full" slides-per-view="2" space-between="30" centered-slides="true">
								<div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
									<div class="mx-auto aspect-[1155/678] w-[72.1875rem] bg-gradient-to-tr from-[#1e81b0] to-[#9089fc] opacity-30" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
								</div>
								
								{% for course in courses|slice:"5" %}
								<swiper-slide class="border-[1.7px] border-[#656565] p-5 items-start justify-center cursor-pointer rounded-3xl transform transition-all duration-300 ease-in-out hover:scale-100 hover:translate-z-10 group flex flex-col">
									<div class="glow-effect rounded-3xl -z-50 absolute inset-0 pointer-events-none opacity-0"></div>
									<a href="{% url 'course-details' course.id %}">
										<h6 class="font-medium text-base text-black">{{ course.name }}</h6>
										<h6 class="mt-3 font-semibold text-sm text-transparent bg-clip-text bg-gradient-to-tr from-indigo-600 to-violet-600">{{ course.year }} Years</h6>
									</a>
								</swiper-slide>
								{% endfor %}
							</swiper-container>
						</div>
					</div>
				</div>
			</section>

			<!-- Testimonials -->
			<section class="py-11">
				<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
					<h2 class="mb-8 font-manrope font-semibold text-3xl min-[400px]:text-3xl text-black max-lg:text-center flex-grow">Testimonials</h2>
					<div class="text-justify columns-1 md:columns-2 xl:columns-3 gap-7 lg:mb-10 mb-8">
						{% for feedback in feedbacks %}
						<div class="break-inside-avoid mb-8 bg-white p-6 rounded-2xl shadow-md shadow-gray-100 cursor-pointer hover:transform hover:scale-105 transition-transform duration-[800ms]">
							<p class="h-auto max-w-full text-sm leading-7 font-medium">" {{ feedback.review }} "</p>
							<div class="flex items-center gap-1 mt-3">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
									<path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
								</svg>
								<p class="text-sm">{{ feedback.user.name }}</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
		</div>

		<!-- Footer -->
		<footer class="w-full">
			<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
				<div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-8 py-10 max-md:max-w-sm max-md:mx-auto border-t-2">
					<div class="col-span-full mb-10 lg:col-span-3 lg:mb-0">
						<a href="{% url 'index' %}" class="cursor-pointer flex justify-center lg:justify-start">
							<img src="{% static 'images/logos/logo-light.png' %}" class="h-11 w-auto" alt="Hamrocollege">
						</a>
						<p class="py-5 text-sm text-gray-500 text-justify leading-5 lg:text-left">Hamrocollege is an extensive search engine for the students, parents, and education industry players who are seeking information on higher education sector in Nepal.</p>
						<a href="{% url 'index' %}" class="py-2.5 cursor-pointer px-5 h-9 block w-fit bg-gradient-to-tr from-indigo-600 to-violet-600 group rounded-full shadow-sm text-xs text-white mx-auto transition-all duration-500 hover:from-indigo-700 hover:to-violet-700 lg:mx-0">
							Contact us
						</a>
					</div>
					
					<div class="lg:mx-auto">
						<h4 class="text-base text-gray-900 font-medium mb-7">Site Map</h4>
						<ul class="text-sm transition-all duration-500">
							<li class="mb-6">
								<a onclick="scrollToSection('about')" class="cursor-pointer text-gray-600 hover:text-gray-900">About</a>
							</li>
							<li class="mb-6">
								<a onclick="scrollToSection('institutions')" class="cursor-pointer text-gray-600 hover:text-gray-900">Institutions</a>
							</li>
							<li>
								<a onclick="scrollToSection('courses')" class="cursor-pointer text-gray-600 hover:text-gray-900">Courses</a>
							</li>
						</ul>
					</div>

					<div class="lg:mx-auto">
						<h4 class="text-base text-gray-900 font-medium mb-7">Contact Us</h4>
						<ul class="text-sm transition-all duration-500">
							<li class="mb-6 flex items-center gap-1">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-gray-600">
									<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
								</svg>
															  
								<a href="https://maps.app.goo.gl/sNvt9KAHThrHbhVg7" target="_blank" class="text-gray-600 hover:text-gray-900">Hamrocollege Pvt. Ltd.</a>
							</li>
							<li class="mb-6 flex items-center gap-1">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-gray-600">
									<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
								</svg>
								  
								<a href="mailto:info@hamrocollege.com" class="text-gray-600 hover:text-gray-900">info@hamrocollege.com</a>
							</li>
							<li class="flex items-center gap-1">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-gray-600">
									<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
								</svg>
								  
								<a href="tel:+977 9876543210" class="text-gray-600 hover:text-gray-900">+977 9876543210</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<button id="back-to-top" class="hidden fixed bottom-3.5 right-4 border border-gray-500 bg-gradient-to-tr from-indigo-600 to-violet-600 group transition-all duration-500 hover:bg-gradient-to-tr hover:from-indigo-700 hover:to-violet-700 text-white p-2 rounded-md shadow-lg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-gray-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5"/>
            </svg>          
        </button>
	</div>

	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</body>
</html>