{% load static %}

<footer class="w-full mb-7">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="max-w-3xl mx-auto">
            <div class="flex justify-center lg:flex-1 mb-5">
                <a href="{% url 'dashboard' %}" class="-m-1.5">
                    <span class="sr-only">Your Company</span>
                    <img src="{% static 'images/logos/logo-light.png' %}" class="h-11 w-auto block dark:hidden" alt="Gurkha Cyber Force Light Logo" />
                </a>
                <a href="{% url 'dashboard' %}" class="-m-1.5">
                    <span class="sr-only">Your Company</span>
                    <img src="{% static 'images/logos/logo-dark.png' %}" class="h-11 w-auto hidden dark:block" alt="Gurkha Cyber Force Dark Logo" />
                </a>
            </div>
            
            <span class="text-sm text-gray-500 text-center block">©<a href="https://pagedone.io/">hamrocollege.</a> 2024. All rights reserved.</span>
        </div>
    </div>
</footer>