{% load static %}

<aside id="application-sidebar-brand" class="bg-[#FAFAFA] dark:bg-[#121212] hs-overlay hs-overlay-open:translate-x-0 -translate-x-full transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed top-0 with-vertical h-screen z-[999] flex-shrink-0 border-r-[1px] w-[270px] border-gray-400 left-sidebar transition-all duration-300" >
    <div class="px-6">
        <a href="{% url 'userpage' %}">
            <img src="{% static 'images/logos/logo-light.png' %}" class="block dark:hidden" alt="Gurkha Cyber Force Light Logo" />
        </a>
        
        <a href="{% url 'userpage' %}">
            <img src="{% static 'images/logos/logo-dark.png' %}" class="hidden dark:block" alt="Gurkha Cyber Force Dark Logo" />
        </a>
    </div>
    
    <!-- Sidebar -->
    <div class="scroll-sidebar scrollbar-dark" data-simplebar="">
        <div class="px-6 mt-8">
            <nav class="w-full flex flex-col usersidebar-nav">
                <ul id="usersidebarnav" class="text-gray-600 text-sm dark:text-white">
                    <li class="text-xs font-semibold pb-4">
                        <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
                        <span>HOME</span>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link gap-3 py-3 px-3 rounded-md w-full flex items-center dark:text-gray-400 hover:text-blue-600 hover:bg-blue-500" href="{% url 'userpage' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                            </i><span>Dashboard</span>
                        </a>
                    </li>

                    <li class="text-xs font-semibold mb-4 mt-8">
                        <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
                        <span>SECTIONS</span>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'institutions' %}" class="sidebar-link gap-3 mb-1 py-3 px-3 rounded-md w-full flex items-center dark:text-gray-400 hover:text-blue-600 hover:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
                            </svg>
                            <span>Institutions</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'courses' %}" class="sidebar-link gap-3 mb-1 py-3 px-3 rounded-md w-full flex items-center dark:text-gray-400 hover:text-blue-600 hover:bg-blue-500">
                            <i class="ti ti-cards text-xl"></i><span>Courses</span>
                        </a>
                    </li>   

                    <li class="sidebar-item">
                        <a href="{% url 'admissions' %}" class="sidebar-link gap-3 mb-1 py-3 px-3 rounded-md w-full flex items-center dark:text-gray-400 hover:text-blue-600 hover:bg-blue-500">
                            <i class="ti ti-file-description text-xl"></i><span>Admissions</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'feedbacks' %}" class="sidebar-link gap-3 mb-1 py-3 px-3 rounded-md w-full flex items-center dark:text-gray-400 hover:text-blue-600 hover:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                            </svg>
                            <span>Feedbacks</span>
                        </a>
                    </li> 
                </ul>
            </nav>
        </div>
    </div>
</aside>

<script>
    $(function () {
        "use strict";
        var url = window.location + "";
        var path = url.replace(
            window.location.protocol + "//" + window.location.host + "/",
            ""
        );
        var element = $("ul#usersidebarnav a").filter(function () {
            return this.href === url || this.href === path;
        });
        element.parentsUntil(".usersidebar-nav").each(function (index) {
            if ($(this).is("li") && $(this).children("a").length !== 0) {
                $(this).children("a").addClass("active");
                $(this).parent("ul#usersidebarnav").length === 0 ? $(this).addClass("active") : $(this).addClass("selected");
            } else if (!$(this).is("ul") && $(this).children("a").length === 0) {
                $(this).addClass("selected");
            } else if ($(this).is("ul")) {
                $(this).addClass("in");
            }
        });

        element.addClass("active");
        $("#usersidebarnav a").on("click", function (e) {
            if (!$(this).hasClass("active")) {
                $("ul", $(this).parents("ul:first")).removeClass("in");
                $("a", $(this).parents("ul:first")).removeClass("active");

                $(this).next("ul").addClass("in");
                $(this).addClass("active");
            } else if ($(this).hasClass("active")) {
                $(this).removeClass("active");
                $(this).parents("ul:first").removeClass("active");
                $(this).next("ul").removeClass("in");
            }
        });
        
        $("#usersidebarnav >li >a.has-arrow").on("click", function (e) {
            e.preventDefault();
        });
    });
</script>