{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/admin_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/admin_header.html" %}

				<!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]" id="course-table">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="card min-h-[613px]">
                            <div class="card-body">
                                <div class="flex justify-between items-center mb-6">
                                    <h4 class="text-gray-600 text-lg tracking-wider font-semibold uppercase">Courses</h4>
                                    <svg id="new-course" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md bg-gray-700 text-white dark:bg-[#121212] dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>
                                </div>
                                <div class="relative overflow-x-auto">
                                    <table class="text-left w-full whitespace-nowrap text-sm">
                                        <thead class="text-gray-700">
                                            <tr class="font-semibold text-gray-600">
                                                <th scope="col" class="p-4">S.N.</th>
                                                <th scope="col" class="p-4">Name</th>
                                                <th scope="col" class="p-4">Affiliation</th>
                                                <th scope="col" class="p-4">Abbreviation</th>
                                                <th scope="col" class="p-4"></th>
                                                <th scope="col" class=""></th>
                                            </tr>
                                        </thead>                                                                                                                                                                                                                                                                                                                                                      
                                        <tbody>
                                            {% for course in courses %}
                                            <tr>
                                                <td class="p-4 font-medium text-gray-500">{{ forloop.counter }}</td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ course.name }}</span>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">
                                                        {% if course.affiliation == 'foreign' %}
                                                            {{ course.Foreign_University_Name }}
                                                        {% else %}
                                                            {{ course.get_affiliation_display }}
                                                        {% endif %}
                                                    </span>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">
                                                        {% if course.abbreviation %}
                                                            {{ course.abbreviation }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </span>
                                                </td>
                                                <td class="p-4">
                                                    <a href="{% url 'edit-course' course.id %}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-gray-500">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                        </svg>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="" target="_blank" class="font-medium text-gray-500">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                                            <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                                                        </svg>                                                   
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>									
                            </div>
                        </div>
					</div>
				</main>

                <main class="h-full overflow-y-auto max-w-full pt-[6px] hidden" id="course-form">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="card min-h-[613px]">
                            <div class="card-body">
                                <form action="{% url 'add-course' %}" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <svg id="back-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md absolute -top-2 right-6 bg-gray-700 text-white dark:bg-[#121212] dark:text-white">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                        </svg>
                                          
                                        <div class="flex gap-x-3">
                                            <div class="flex-1 mb-6">
                                                <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Name <span class="text-red-600">*</span></label>
                                                <input type="text" name="name" id="name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="John Doe" required>
                                            </div>

                                            <div class="mb-6">
                                                <label for="abbreviation" class="block mb-2 text-sm font-medium text-gray-700">Abbreviation</label>
                                                <input type="text" name="abbreviation" id="abbreviation" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="John Doe">
                                            </div>
                                        </div>

                                        <div class="flex flex-grow gap-x-3">
                                            <div class="flex-1 mb-6">
                                                <label for="field" class="block mb-2 text-sm font-medium text-gray-700">Field <span class="text-red-600">*</span></label>
                                                <select id="field" name="field" autocomplete="field-name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" required>
                                                    <option value="" selected>Choose a field</option>
                                                    {% for field in fields %}
                                                        <option value="{{ field.0 }}">{{ field.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="flex-1 mb-6">
                                                <label for="year" class="block mb-2 text-sm font-medium text-gray-700">Course Duration [Years] <span class="text-red-600">*</span></label>
                                                <input type="number" name="year" id="year" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="2-4" required>
                                            </div>
                                        
                                            <div class="flex-1 mb-6">
                                                <label for="level" class="block mb-2 text-sm font-medium text-gray-700">Level <span class="text-red-600">*</span></label>
                                                <select id="level" name="level" autocomplete="level-name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" required>
                                                    <option value="" selected>Choose a level</option>
                                                    {% for level in levels %}
                                                        <option value="{{ level.0 }}">{{ level.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        
                                            <div class="flex-1 mb-6">
                                                <label for="affiliation" class="block mb-2 text-sm font-medium text-gray-700">Affiliation <span class="text-red-600">*</span></label>
                                                <select id="affiliation" name="affiliation" autocomplete="affiliation-name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" onchange="toggleForeignUniversityField()" required>
                                                    <option value="" selected>Choose a affiliation</option>
                                                    {% for affiliation in affiliation_choices %}
                                                        <option value="{{ affiliation.0 }}">{{ affiliation.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                                    
                                            <div class="flex-1 mb-6 hidden" id="foreign-university-field">
                                                <label for="foreign_university_name" class="block mb-2 text-sm font-medium text-gray-700">Foreign University Name <span class="text-red-600">*</span></label>
                                                <input type="text" name="foreign_university_name" id="foreign_university_name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 py-[10px] bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="Acme Corporation Pvt. Ltd."/>
                                            </div>
                                        </div>

                                        <div class="mb-6">
                                            <label for="about" class="block mb-2 text-sm/6 font-medium text-gray-900">About <span class="text-red-600">*</span></label>
                                            <textarea name="about" id="about" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6" required></textarea>
                                        </div>

                                        <div class="mb-6">
                                            <label for="eligibility" class="block mb-2 text-sm/6 font-medium text-gray-900">Eligibility</label>
                                            <textarea name="eligibility" id="eligibility" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6"></textarea>
                                        </div>

                                        <div class="mb-6">
                                            <label for="admission_criteria" class="block mb-2 text-sm/6 font-medium text-gray-900">Admission Criteria</label>
                                            <textarea name="admission_criteria" id="admission_criteria" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6"></textarea>
                                        </div>
                                        
                                        <div class="mb-6">
                                            <label for="job_prospect" class="block mb-2 text-sm/6 font-medium text-gray-900">Job Prospect</label>
                                            <textarea name="job_prospect" id="job_prospect" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6"></textarea>
                                        </div>

                                        <div class="mb-6">
                                            <label for="prospect_career" class="block mb-2 text-sm/6 font-medium text-gray-900">Prospect Career</label>
                                            <textarea name="prospect_career" id="prospect_career" rows="3" class="block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm/6"></textarea>
                                        </div>
                                        
                                        <div class="mb-6">
                                            <label for="offered_by" class="block mb-2 text-sm font-medium text-gray-900">Offered By <span class="text-red-600">*</span></label>
                                            <select id="offered_by" name="offered_by" class="block w-full rounded-md bg-white px-3 py-1.5 text-sm text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm" multiple>
                                                <option disabled selected>Select institutions</option>
                                                {% for institution in institutions %}
                                                    <option value="{{ institution.id }}">{{ institution.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <p class="mt-2 text-xs text-gray-500">
                                                Hold down the Ctrl (Windows) or Command (Mac) key to select multiple institutions.
                                            </p>
                                        </div>
                                    </div>
    
                                    <div class="mb-4">
                                        <button type="submit" class="tracking-wide py-2.5 px-4 bg-gray-500 text-white w-full transition ease-in duration-200 text-center text-sm font-medium shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" type="submit">
                                            Add Course
                                        </button>
                                    </div>
                                </form>									
                            </div>
                        </div>
					</div>
				</main>
			</div>
		</div>
	</main>

    <!-- Toggle course-table/form -->
    <script>
        document.getElementById('new-course').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('course-table').classList.add('hidden');
            document.getElementById('course-form').classList.remove('hidden');
        });

        document.getElementById('back-button').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('course-table').classList.remove('hidden');
            document.getElementById('course-form').classList.add('hidden');
        });
    </script>
	
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
	<script src="{% static 'js/sidebarmenu.js' %}"></script>
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %}"></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %}"></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %}"></script>
</body>
</html>