{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gurkha Cyber Force</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/admin_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/admin_header.html" %}

				<!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="card min-h-[613px]">
                            <div class="card-body">
                                <h4 class="text-gray-600 text-lg tracking-wider font-semibold mb-6 uppercase">Institutions</h4>
                                <div class="relative overflow-x-auto">
                                    <table class="text-left w-full whitespace-nowrap text-sm">
                                        <thead class="text-gray-700">
                                            <tr class="font-semibold text-gray-600">
                                                <th scope="col" class="p-4">S.N.</th>
                                                <th scope="col" class="p-4">Name</th>
                                                <th scope="col" class="p-4">Institution</th>
                                                <th scope="col" class="p-4">Email</th>
                                                <th scope="col" class="ps-6">Status</th>
                                                <th scope="col" class=""></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for institution in institutions %}
                                            <tr>
                                                <td class="p-4 font-medium text-gray-500">{{ forloop.counter }}</td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ institution.admin.name }}</span>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ institution.name }}</span>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ institution.admin.email }}</span>
                                                </td>
                                                <td class="p-4">
                                                    <select name="status" class="status-dropdown rounded text-sm border-none ps-2 pr-8" data-institution-id="{{ institution.id }}">
                                                        <option value="approved" {% if institution.status == 'approved' %}selected{% endif %}>Approved</option>
                                                        <option value="rejected" {% if institution.status == 'rejected' %}selected{% endif %}>Rejected</option>
                                                        <option value="not_decided" {% if institution.status == 'not_decided' %}selected{% endif %} {% if institution.status != 'not_decided' %}disabled{% endif %}>Not Decided</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <a href="{% url 'institution-details' institution.id %}" target="_blank" class="font-medium text-gray-500">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                                                            <path fill-rule="evenodd" d="M8.25 3.75H19.5a.75.75 0 0 1 .75.75v11.25a.75.75 0 0 1-1.5 0V6.31L5.03 20.03a.75.75 0 0 1-1.06-1.06L17.69 5.25H8.25a.75.75 0 0 1 0-1.5Z" clip-rule="evenodd" />
                                                        </svg>                                                   
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>									
                            </div>
                        </div>
					</div>
				</main>
			</div>
		</div>
	</main>

    <div id="toast-container" class="fixed top-5 right-5 z-50 space-y-2 text-xs hidden"></div>

    <script>
        function showToast(message, type = 'success') {
            const bgColor = {success: 'bg-green-500', error: 'bg-red-500', info: 'bg-blue-500', warning: 'bg-yellow-500'};

            const toast = document.createElement('div');
            toast.className = `toast ${bgColor[type]} text-white p-4 rounded shadow-lg flex items-center space-x-2 transition-opacity duration-300 ease-in-out`;
            toast.innerHTML = `
                <span>${message}</span>
                <button class="text-white focus:outline-none" onclick="this.parentElement.remove()">✕</button>
            `;

            const container = document.getElementById('toast-container');
            container.classList.remove('hidden');
            container.appendChild(toast);

            setTimeout(() => {
                toast.remove();
                if (container.childElementCount === 0) {
                    container.classList.add('hidden');
                }
            }, 3000);
        }

        $(document).ready(function () {
            $('.status-dropdown').change(function () {
                var institutionId = $(this).data('institution-id');
                var newStatus = $(this).val();
                var $dropdown = $(this);

                $.ajax({
                    url: '/update-status/' + institutionId + '/',
                    type: 'POST',
                    data: {
                        'status': newStatus,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        if (response.success) {
                            showToast(response.message, 'success');
                            $dropdown.find('option[value="not_decided"]').attr('disabled', true);
                        } else {
                            showToast(response.message, 'error');
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        showToast('Error updating status.', 'error');
                    }
                });
            });
        });
    </script>    
	
    <script src="{% static 'js/dashboard.js' %}"></script>
	<script src="{% static 'js/sidebarmenu.js' %}"></script>
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %}"></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %}"></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %}"></script>
	<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
</body>
</html>