{% load static %}

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Users</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
	<link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
</head>
<body class="bg-[#FAFAFA] dark:bg-[#121212]">
	<main>
		<div id="main-wrapper" class="flex">
			<!-- Sidebar -->
			{% include "components/admin_sidebar.html" %}

			<div class="w-full page-wrapper overflow-hidden">
				<!-- Header -->
				{% include "components/admin_header.html" %}

				<!-- Main Content -->
				<main class="h-full overflow-y-auto max-w-full pt-[6px]" id="system-user-table">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="card min-h-[613px]">
                            <div class="card-body">
                                <div class="flex justify-between items-center mb-6">
                                    <h4 class="text-gray-600 text-lg tracking-wider font-semibold uppercase">System Users</h4>
                                    <svg id="new-system-user" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md bg-gray-700 text-white dark:bg-[#121212] dark:text-white">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                    </svg>
                                </div>
                                
                                <div class="relative overflow-x-auto">
                                    <table class="text-left w-full whitespace-nowrap text-sm">
                                        <thead class="text-gray-700">
                                            <tr class="font-semibold text-gray-600">
                                                <th scope="col" class="p-4">S.N.</th>
                                                <th scope="col" class="p-4">Name</th>
                                                <th scope="col" class="p-4">Email</th>
                                                <th scope="col" class="p-4">Role</th>
                                                <th scope="col" class="p-4">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for system_users in system_users %}
                                            <tr>
                                                <td class="p-4 font-medium text-gray-500">{{ forloop.counter }}</td>
                                                <td class="p-4">
                                                    <div class="flex flex-col gap-1">
                                                        <h3 class="font-medium text-gray-500">{{ system_users.name }}</h3>
                                                    </div>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ system_users.email }}</span>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ system_users.get_role_display }}</span>
                                                </td>
                                                <td class="p-4">
                                                    <span class="font-medium text-gray-500">{{ system_users.get_status_display }}</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>									
                            </div>
                        </div>
					</div>
				</main>

                <main class="h-full overflow-y-auto max-w-full pt-[6px] hidden" id="system-user-form">
					<div class="container full-container py-5 flex flex-col gap-6">
						<div class="card min-h-[613px]">
                            <div class="card-body">
                                <form action="{% url 'admin-signup' %}" method="POST">
                                    {% csrf_token %}
                                    <div>
                                        <svg id="back-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer size-6 p-1 rounded-md absolute -top-2 right-6 bg-gray-700 text-white dark:bg-[#121212] dark:text-white">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                        </svg>

                                        <div class="flex flex-grow gap-x-3">
                                            <div class="flex-1">
                                                <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Name <span class="text-red-600">*</span></label>
                                                <div class="relative mb-6">
                                                    <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                        <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                                            <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z" clip-rule="evenodd" />
                                                        </svg>                                                                               
                                                    </div>
                                                    <input type="text" name="name" id="name" class="border border-gray-400 text-sm rounded-md block w-full ps-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="John Doe" required>
                                                </div>
                                            </div>
                                            
                                            <div class="w-44">
                                                <label for="role" class="block mb-2 text-sm font-medium text-gray-700">Role <span class="text-red-600">*</span></label>
                                                <select id="role" name="role" autocomplete="role-name" class="border border-gray-400 text-sm rounded-md block w-full p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" onchange="toggleForeignUniversityField()" required>
                                                    <option value="" selected>Choose a role</option>
                                                    {% for role in roles %}
                                                        <option value="{{ role.0 }}">{{ role.1 }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="relative mb-6">
                                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-700">Phone Number <span class="text-red-600">*</span></label>
                                            <div class="relative">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                                                        <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                                                    </svg>
                                                </div>
                                                <input type="number" name="phone" id="phone" class="border border-gray-400 text-sm rounded-md block w-full ps-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="XXX XXX XXXX" required>
                                            </div>
                                            <div id="phone-number-error" class="text-xs text-red-500 mt-1 hidden">This phone number already exists.</div>
                                        </div>
    
                                        <div class="relative mb-6">
                                            <label for="email" class="block mb-2 text-sm font-medium text-gray-700">Email Address <span class="text-red-600">*</span></label>
                                            <div class="relative">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                                                        <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
                                                    </svg>
                                                </div>
                                                <input type="email" name="email" id="email" class="border border-gray-400 text-sm rounded-md block w-full ps-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" placeholder="john@example.com" required>
                                            </div>
                                            <div id="email-error" class="text-xs text-red-500 mt-1 hidden">This email already exists.</div>
                                        </div>
                                        
                                        <div>
                                            <label for="password" class="block mb-2 text-sm font-medium text-gray-700">Password <span class="text-red-600">*</span></label>
                                            <div class="relative mb-6">
                                                <div class="absolute inset-y-0 start-0 flex items-center ps-2.5 pointer-events-none">
                                                    <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                                        <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z" clip-rule="evenodd" />
                                                    </svg>                                  
                                                </div>
                                                
                                                <input type="text" name="password" id="password" class="border border-gray-400 text-sm rounded-md block w-full ps-8 pe-8 p-2.5 bg-transparent text-gray-700 focus:border-gray-700 focus:ring-0 outline-none transition-all duration-700" minlength="7" maxlength="20" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{7,20}" title="Password must be 7-20 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character" placeholder="••••••••" required>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="mt-7 mb-4">
                                        <button class="tracking-wide py-2.5 px-4 bg-gradient-to-tr from-indigo-600 to-violet-600 text-white hover:bg-gradient-to-tr hover:from-indigo-700 hover:to-violet-700 w-full transition ease-in duration-200 text-center text-sm font-medium shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" type="submit">
                                            Sign Up
                                        </button>
                                    </div>
                                </form>								
                            </div>
                        </div>
					</div>
				</main>
			</div>
		</div>
	</main>

    {% if messages %}
        <div id="toast-container" class="fixed top-5 right-5 z-50 space-y-2">
            {% for message in messages %}
                <div class="w-full max-w-sm p-2 pr-5 rounded-lg border shadow-sm {{ message.tags }} text-gray-800 bg-white">
                    <div class="flex items-center space-x-3">
                        <span class="w-9 h-9 rounded-lg {% if message.tags == 'error' %} bg-red-200 {% elif message.tags == 'success' %} bg-green-200 {% else %} bg-gray-200 {% endif %} flex items-center justify-center">
                            {% if message.tags == 'error' %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            {% elif message.tags == 'success' %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            {% endif %}
                        </span>
                        <p class="text-sm font-base text-gray-950">{{ message }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Toggle system-user-table/form -->
    <script>
        document.getElementById('new-system-user').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('system-user-table').classList.add('hidden');
            document.getElementById('system-user-form').classList.remove('hidden');
        });

        document.getElementById('back-button').addEventListener('click', function(e) {
            e.preventDefault();
            document.getElementById('system-user-table').classList.remove('hidden');
            document.getElementById('system-user-form').classList.add('hidden');
        });
    </script>

    <!-- Toast timeout -->
    <script>
        setTimeout(function() {
            let toastContainer = document.getElementById('toast-container');
            if (toastContainer) {
                toastContainer.querySelectorAll('.w-full').forEach(function(toast) {
                    toast.style.opacity = '0';
                    toast.style.transition = 'opacity 1s ease-out';
                    setTimeout(function() {
                        toast.remove();
                    }, 1000);
                });
            }
        }, 2500);
    </script>
	
    <script src="{% static 'js/dashboard.js' %} "></script>
	<script src="{% static 'js/sidebarmenu.js' %} "></script>
	<script src="{% static 'libs/jquery/dist/jquery.min.js' %} "></script>
	<script src="{% static 'libs/simplebar/dist/simplebar.min.js' %} "></script>
	<script src="{% static 'libs/iconify-icon/dist/iconify-icon.min.js' %} "></script>
	<script src="{% static 'libs/@preline/dropdown/index.js' %} "></script>
	<script src="{% static 'libs/@preline/overlay/index.js' %} "></script>
	<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %} "></script>
</body>
</html>