@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Plus Jakarta Sans", serif;
}

.bg-index {
    background-image: url('/static/images/background/index-bg.png');
}  

.swiper-slide-active {
    border-color: #7c3aed;
    border-width: 2px;
}

/* Pagination */
.pagination-wrapper {
    position: sticky;
    bottom: 0;
    background-color: white;  /* Optional, to ensure background consistency */
    z-index: 10;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Pagination buttons style */
.pagination-button {
    min-height: 38px;
    min-width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    background-color: #f3f4f6; /* Gray background for unselected buttons */
    color: #4b5563;
    text-align: center;
    transition: background-color 0.2s;
}

.pagination-button:hover {
    background-color: #e5e7eb; /* Slight hover effect */
}

.pagination-button.active {
    background-color: #e5e7eb; /* Active page background */
    font-weight: bold;
    color: #1f2937; /* Dark text for active page */
}

.pagination-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For webkit browsers */
::-webkit-scrollbar {
    width: 7px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #7e3af2;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}