{% load static %}

<header class="container full-container w-full text-sm py-5 xl:px-5 px-5">
    <nav class=" w-full flex items-center justify-between" aria-label="Global">
        <ul class="icon-nav flex items-center gap-4">
            <li class="relative xl:hidden">
                <a class="text-xl icon-hover cursor-pointer text-heading" id="headerCollapse" data-hs-overlay="#application-sidebar-brand" aria-controls="application-sidebar-brand" aria-label="Toggle navigation" href="javascript:void(0)">
                    <i class="ti ti-menu-2 relative z-1"></i>
                </a>
            </li>
            
            <li class="relative">
                <div class="hs-dropdown relative inline-flex [--placement:bottom-left] sm:[--trigger:hover]">
                    <a class="relative hs-dropdown-toggle inline-flex text-gray-600 dark:text-gray-500" href="#">
                        <i class="ti ti-bell-ringing text-xl relative z-[1]"></i>
                        <div class="absolute inline-flex items-center justify-center text-white text-[9px] font-medium bg-blue-600 w-[5.5px] h-[5.5px] rounded-full top-[-2px] -right-[5px]"></div>
                    </a>
                    
                    <div class="card hs-dropdown-menu transition-[opacity,margin] border border-gray-400 rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max w-[300px] hidden z-[12]" aria-labelledby="hs-dropdown-custom-icon-trigger">
                        <div>
                            <h3 class="text-gray-600 font-semibold text-base px-6 py-3">Notification</h3>
                            <ul class="list-none  flex flex-col">
                                <li>
                                    <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                                        <p class="text-sm text-gray-600 font-semibold">Roman Joined the Team!</p>
                                        <p class="text-xs text-gray-500 font-medium">Congratulate him</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                                        <p class="text-sm text-gray-600 font-semibold">New message received</p>
                                        <p class="text-xs text-gray-500 font-medium">Salma sent you new message</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                                        <p class="text-sm text-gray-600 font-semibold">New Payment received</p>
                                        <p class="text-xs text-gray-500 font-medium">Check your earnings</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                                        <p class="text-sm text-gray-600 font-semibold">Jolly completed tasks</p>
                                        <p class="text-xs text-gray-500 font-medium">Assign her new tasks</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="py-3 px-6 block hover:bg-blue-500">
                                        <p class="text-sm text-gray-600 font-semibold">Roman Joined the Team!</p>
                                        <p class="text-xs text-gray-500 font-medium">Congratulate him</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <div class="flex items-center gap-x-4">
            <div class="text-blue-600">
                <button id="theme-toggle" class="focus:outline-none">
                    <svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-[19px] hidden dark:block">
                        <path fill-rule="evenodd" d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z" clip-rule="evenodd" />
                    </svg>

                    <svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5 dark:hidden">
                        <path d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
                    </svg>
                </button>
            </div>

            <div class="hs-dropdown relative inline-flex [--placement:bottom-right]">
                <a class="relative hs-dropdown-toggle cursor-pointer align-middle rounded-md">
                    <img class="object-cover w-9 h-9 rounded-md" src="{% static 'images/profile/user-1.jpg' %}" alt="" aria-hidden="true">
                </a>

                <div class="card hs-dropdown-menu transition-[opacity,margin] border border-gray-400 rounded-[7px] duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max  w-[200px] hidden z-[12]" aria-labelledby="hs-dropdown-custom-icon-trigger">
                    <div class="card-body p-0 py-2">
                        <a href="{% url 'institution-admin-profile' %}" class="flex gap-2 items-center px-4 py-2 text-gray-500 hover:bg-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-[17px]">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                            </svg>
                            <p class="text-sm text-gray-500">My Profile</p>
                        </a>
                        
                        <div class="px-4 mt-[7px] grid">
                            <a href="{% url 'institution-logout' %}" class="btn-outline-primary w-full hover:bg-blue-600 hover:text-white">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>